/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* GENERAL RULES FOR DOC */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcfcfc;
  color: #4d4c4f;
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

/* HEADER RULES */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  border-bottom: 5px solid #f5f5f5;
  background-color: #fcfcfc;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

header,
footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin-top: 20px;
  margin-right: 20px;
  /*font-size: 18px;*/
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #4d4c4f;

}

.navigation-list__item--active {
  -webkit-text-decoration: underline #95c5ce;
  text-decoration: underline #95c5ce;
}

/* MAIN CONTENT RULES */

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px;
}

.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.profile__portrait {
  width: 350px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.profile .main-profile {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.main__profile--items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: justify;
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__about--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 60vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__about--text {
  margin-top: 40px;
  margin-bottom: 25px;
}

/*svg {
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.main-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__contact--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 90px;
}

.main__contact--item {
  padding: 20px;
}

table {
  margin-bottom: 20px;
}

.button__cv {
  margin-bottom: 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 35px 1fr 35px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 30px;
    margin-top: 40px;
  }

  .grid__item {
    background-color: #f5f5f5;
    width: auto;
    min-height: auto;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    margin: 0;
    -webkit-box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
    transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
    -o-transition: transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content: flex-end;*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }

  .grid__item_p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;

  }

  .grid__item_a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .project-button {
    background-color: rgb(231, 230, 229);
    -webkit-box-shadow: 0px 5px 20px rgba(68, 65, 65, 0.5);
    box-shadow: 0px 5px 20px rgba(68, 65, 65, 0.5);
    color: #4d4c4f;
  }

  .grid__item:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    /* Move the card up on hover */
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    /* Increase shadow for illumination */
  }

  .event-img {
    /*display: grid;*/
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    /*margin: auto;*/
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .chirp-img {
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .mFlix-angular-img {
    display: -ms-grid;
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .mFlix-react-img {
    display: -ms-grid;
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .flix-api-img {
    display: -ms-grid;
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .pokedex-img {
    display: -ms-grid;
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

/* BUTTONS AND LINKS */

.footer__icon:visited {
  color: white;
  text-decoration: none;
}

a {
  color: #337986;
  font-weight: bold;
}

/*a:visited {
  color: var(--visited-color);
}*/

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #95c5ce;
}

button {
  border: none;
  background-color: #337986;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.button {
  border: none;
  background-color: #337986;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.6;
}

.contact-p {
  font-style: italic;
  margin-top: 7px;
  text-align: center;
}

#contact-email {
  height: 35px;
  width: 100%;
  resize: none;
}

#contact-msg {
  height: 60px;
  width: 100%;
  resize: none;
}

#contact-submit {
  margin-top: 10px;
  padding: 10px;
  -webkit-box-shadow: inset;
  box-shadow: inset;
  background-color: #337986;
  color: white;
  border-radius: 5px;
}

/* FOOTER RULES */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f5f5f5;
  line-height: 1.5;
  padding: 10px;
}

.impressum-link {
  color: black;
  padding-bottom: 10px;
}

/* RESPONSIVENESS */
/* GRID */

@media all and (max-width: 493px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .navigation-list__item {
    font-size: 13px;
  }
}

@media all and (min-width: 321px) and (max-width: 493px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

}

@media all and (max-width: 493px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  /*.project-button {
    flex-shrink: 1;
    flex-basis: auto;
  }*/

  .grid__item_p {
    font-size: 12px;
  }

  .project-button {
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__contact--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media all and (min-width: 494px) and (max-width: 541px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .navigation-list__item {
    font-size: 14px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }

  .grid__item_p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .project-button {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .profile__portrait {
    margin: 0 auto;
    max-height: 350px;
    max-width: 350px;
  }
}

@media all and (min-width: 481px) and (max-width: 541px) {

  .navigation-list__item {
    font-size: 16px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .grid__item_p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .project-button {
    font-size: 14px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .profile__portrait {
    margin: 0 auto;
    max-height: 350px;
    max-width: 350px;
  }


}

@media all and (max-width: 768px) {


  .page-header__item:first-child {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .navigation-list--item {
    margin-top: 16px;
  }

  .project-button {
    font-size: 12px;
  }

  h1 {
    font-size: 22.5px;
  }

  .main-about,
  .page-footer {
    text-align: justify;
  }

  /*svg {
    width: 100%;
    height: auto;
  }*/
}

@media all and (min-width: 769px) and (max-width: 890px) {
  .navigation-list__item {
    font-size: 20px;
  }

  .navigation-list {
    margin-top: 18px;
  }

  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}



/* MAIN RESPONSIVENESS */
/* PROFILE */

@media all and (min-width: 320px) and (max-width: 538px) {
  .profile__portrait {
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
  }

  /* .navigation-list__item {
    font-size: 16px;
  }*/

  .navigation-list {
    margin-top: 15px;
  }

  .header-img {
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
}

@media all and (max-width: 320px) {
  .profile__portrait {
    margin: 0 auto;
    max-height: 250px;
    max-width: 250px;
  }

  .main__contact--item {
    padding: 10px;
  }

  .navigation-list__item {
    font-size: 12px;
  }

  form {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .contact-p {
    margin-top: 10px;
    font-style: italic;
  }
}

@media all and (max-width: 480px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 1200px) {

  .chirp-img,
  .flix-api-img,
  .mFlix-angular-img,
  .mFlix-react-img,
  .pokedex-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

}

/* KEYFRAMES */

@-webkit-keyframes cloud-move-reverse {
  0% {
    fill: undefined;
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  50% {
    fill: #56cde2;
  }

  100% {
    fill: #337986;
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  0% {
    fill: undefined;
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  50% {
    fill: #56cde2;
  }

  100% {
    fill: #337986;
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@-webkit-keyframes sun-animation {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes sun-animation {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 6s sun-animation infinite alternate linear;
  animation: 6s sun-animation infinite alternate linear;
}

.cloud {
  -webkit-animation: 20s cloud-move-reverse infinite alternate linear;
  animation: 20s cloud-move-reverse infinite alternate linear;
}