:root {
  --primary-color: #337986;
  --visited-color: #c96d7c;
  --background-color: #fcfcfc;
  --text-color: #4d4c4f;
  --active-color: #95c5ce;
  --button-text: white;
  --page-border: #f5f5f5;
  --cloud-color: #56cde2;
  --sun-first: #edc655;
  --sun-second: #fcffad;
  --sun-third: #f76414;
  --font-family: 'Crimson Text', serif;
  --font-weight: 700;
  --line-height: 1.5;
  --docfont-size: 16px;
}

/* GENERAL RULES FOR DOC */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  overflow-y: scroll;
}

body {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--docfont-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  flex-direction: column;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

/* HEADER RULES */

.page-header {
  display: flex;
  width: 100%;
  padding: 5px;
  border-bottom: 5px solid var(--page-border);
  background-color: var(--background-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

header,
footer {
  flex: 0 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin-top: 20px;
  margin-right: 20px;
  /*font-size: 18px;*/
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: var(--text-color);

}

.navigation-list__item--active {
  text-decoration: underline var(--active-color);
}

/* MAIN CONTENT RULES */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.profile__portrait {
  width: 350px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.profile .main-profile {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.main__profile--items {
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__about--about {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  justify-content: center;
}

.main__about--text {
  margin-top: 40px;
  margin-bottom: 25px;
}

/*svg {
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.main-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-contact {
  display: flex;
  flex-direction: column;
}

.main__contact--items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 90px;
}

.main__contact--item {
  padding: 20px;
}

table {
  margin-bottom: 20px;
}

.button__cv {
  margin-bottom: 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 30px;
    margin-top: 40px;
  }

  .grid__item {
    background-color: var(--page-border);
    width: auto;
    min-height: auto;
    max-height: fit-content;
    margin: 0;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

  .grid__item_p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;

  }

  .grid__item_a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .project-button {
    background-color: rgb(231, 230, 229);
    box-shadow: 0px 5px 20px rgba(68, 65, 65, 0.5);
    color: var(--text-color);
  }

  .grid__item:hover {
    transform: translateY(-10px);
    /* Move the card up on hover */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    /* Increase shadow for illumination */
  }

  .event-img {
    /*display: grid;*/
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    /*margin: auto;*/
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .chirp-img {
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .mFlix-angular-img {
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .mFlix-react-img {
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .flix-api-img {
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .pokedex-img {
    display: grid;
    place-items: center;
    /*margin: auto;*/
    background-color: var(--page-border);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

/* BUTTONS AND LINKS */

.footer__icon:visited {
  color: white;
  text-decoration: none;
}

a {
  color: var(--primary-color);
  font-weight: bold;
}

/*a:visited {
  color: var(--visited-color);
}*/

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

button,
.button {
  border: none;
  background-color: var(--primary-color);
  font-family: inherit;
  font-size: var(--docfont-size);
  text-decoration: none;
  color: var(--button-text);
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.6;
}

.contact-p {
  font-style: italic;
  margin-top: 7px;
  text-align: center;
}

#contact-email {
  height: 35px;
  width: 100%;
  resize: none;
}

#contact-msg {
  height: 60px;
  width: 100%;
  resize: none;
}

#contact-submit {
  margin-top: 10px;
  padding: 10px;
  box-shadow: inset;
  background-color: var(--primary-color);
  color: var(--button-text);
  border-radius: 5px;
}

/* FOOTER RULES */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--page-border);
  line-height: var(--line-height);
  padding: 10px;
}

.impressum-link {
  color: black;
  padding-bottom: 10px;
}

/* RESPONSIVENESS */
/* GRID */

@media all and (max-width: 493px) {
  .navigation-list {
    display: flex;
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .navigation-list__item {
    font-size: 13px;
  }
}

@media all and (min-width: 321px) and (max-width: 493px) {
  .grid {
    grid-template-columns: 1fr;
  }

}

@media all and (max-width: 493px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  /*.project-button {
    flex-shrink: 1;
    flex-basis: auto;
  }*/

  .grid__item_p {
    font-size: 12px;
  }

  .project-button {
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
  }

  .main__contact--items {
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 494px) and (max-width: 541px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .navigation-list__item {
    font-size: 14px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }

  .grid__item_p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .project-button {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
  }

  .profile__portrait {
    margin: 0 auto;
    max-height: 350px;
    max-width: 350px;
  }
}

@media all and (min-width: 481px) and (max-width: 541px) {

  .navigation-list__item {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .grid__item_p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .project-button {
    font-size: 14px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
  }

  .profile__portrait {
    margin: 0 auto;
    max-height: 350px;
    max-width: 350px;
  }


}

@media all and (max-width: 768px) {


  .page-header__item:first-child {
    flex-shrink: 1;
    flex-basis: auto;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .navigation-list--item {
    margin-top: 16px;
  }

  .project-button {
    font-size: 12px;
  }

  h1 {
    font-size: 22.5px;
  }

  .main-about,
  .page-footer {
    text-align: justify;
  }

  /*svg {
    width: 100%;
    height: auto;
  }*/
}

@media all and (min-width: 769px) and (max-width: 890px) {
  .navigation-list__item {
    font-size: 20px;
  }

  .navigation-list {
    margin-top: 18px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}



/* MAIN RESPONSIVENESS */
/* PROFILE */

@media all and (min-width: 320px) and (max-width: 538px) {
  .profile__portrait {
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
  }

  /* .navigation-list__item {
    font-size: 16px;
  }*/

  .navigation-list {
    margin-top: 15px;
  }

  .header-img {
    flex-shrink: 1;
  }
}

@media all and (max-width: 320px) {
  .profile__portrait {
    margin: 0 auto;
    max-height: 250px;
    max-width: 250px;
  }

  .main__contact--item {
    padding: 10px;
  }

  .navigation-list__item {
    font-size: 12px;
  }

  form {
    width: max-content;
  }

  .contact-p {
    margin-top: 10px;
    font-style: italic;
  }
}

@media all and (max-width: 480px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 1200px) {

  .chirp-img,
  .flix-api-img,
  .mFlix-angular-img,
  .mFlix-react-img,
  .pokedex-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

}

/* KEYFRAMES */

@keyframes cloud-move-reverse {
  0% {
    fill: var(--box-background);
    transform: translate(446px, 48px);
  }

  50% {
    fill: var(--cloud-color);
  }

  100% {
    fill: var(--primary-color);
    transform: translate(100px, 48px);
  }
}

@keyframes sun-animation {
  0% {
    fill: var(--sun-first);
  }

  50% {
    fill: var(--sun-second);
  }

  100% {
    fill: var(--sun-third);
  }
}

.sun {
  animation: 6s sun-animation infinite alternate linear;
}

.cloud {
  animation: 20s cloud-move-reverse infinite alternate linear;
}